* {
    margin: 0;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}
h1{
    margin-bottom: 10px;
    text-align: center;
}
body {
    background-color: rgb(229, 235, 235);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    margin-left: 3px;
}
.section {
    display: flex;
    width: 30vw;
    height: 80vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
input {
    width: 100%;
    height: 25px;
    border: 1px solid rgb(216, 211, 211);
    margin: 10px 0px;
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
}

button {
    font-size: 20px;
    width: 317px;
    margin: 10px 0px;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    color: white;
    background-color:rgb(57, 114, 180);
    cursor: pointer;
}
.bt{
    text-align: center;
}
.bt a{
    margin-left: 10px;
    text-decoration: none;
}
